In [7]:
import pandas as pd
import os

# Carga y tratamiento de datos

In [8]:
# Datos de los diferentes tipos de pizzas
df_pizza_types = pd.read_csv('Pizza+Place+Sales/pizza_sales/pizza_types_corregido.csv')

#Pedidos -> se supone un pedido por cliente
df_orders = pd.read_csv('Pizza+Place+Sales/pizza_sales/orders.csv')

#Pizzas -> info del tamaño de la pizza con el tipo y el precio
df_pizzas = pd.read_csv('Pizza+Place+Sales/pizza_sales/pizzas.csv')

# Detalle de los pedidos
df_order_details = pd.read_csv('Pizza+Place+Sales/pizza_sales/order_details.csv')

# Agrupar datos

Unir las 3 tablas para obtener una única con todos los datos, ¿es lo mejor?

In [18]:
## Unión de las diferentes tablas
### ordenes con el detalle de las ordenes
### 21350 - 48620
###  muchos a uno
dict_dia_semana = {'Thursday':4, 'Friday':5, 'Saturday':6, 'Sunday':7, 'Monday':1, 'Tuesday':2,
       'Wednesday':3}
df_detail_order = pd.merge(df_order_details, df_orders, how='left', left_on='order_id', right_on='order_id')

df_detail_order_pizza = pd.merge(df_detail_order, df_pizzas, how='left', on='pizza_id')

df_detail_order_pizza_types = pd.merge(df_detail_order_pizza, df_pizza_types, how='left', on='pizza_type_id')
df_detail_order_pizza_types['order_price'] = df_detail_order_pizza_types['quantity']*df_detail_order_pizza_types['price']
# día semana
df_detail_order_pizza_types['fecha'] = pd.to_datetime(df_detail_order_pizza_types['date'])
#df_detail_order_pizza_types['dia_sem'] = df_detail_order_pizza_types['fecha'].dt.day_name()
df_detail_order_pizza_types['dia_semana'] = pd.to_datetime(df_detail_order_pizza_types['fecha']).dt.day_name(locale='es_ES.utf8')
#df_detail_order_pizza_types['num_dia_semana'] = df_detail_order_pizza_types['dia_semana'].map(dict_dia_semana)
df_detail_order_pizza_types['año']= df_detail_order_pizza_types['fecha'].dt.year
df_detail_order_pizza_types['mes']= df_detail_order_pizza_types['fecha'].dt.month
df_detail_order_pizza_types['mes_nombre']= df_detail_order_pizza_types['fecha'].dt.month_name(locale='es_ES.utf8')

df_detail_order_pizza_types['dia']= df_detail_order_pizza_types['fecha'].dt.day

df_detail_order_pizza_types['precio_total'] = df_detail_order_pizza_types['price']*df_detail_order_pizza_types['quantity']
#df_detail_order_pizza_types.info()
df_detail_order_pizza_types.head(29)
df_detail_order_pizza_types.to_csv('completo.csv')

# PRimera parte

La primera parte incluye información de las ventas del año. 
 * Ganancias
 * Mejor mes
 * Peor mes

También se mostrará información relacionadas con el volumen de ventas:
* Número de pizzas vendidas
* Tipo de pizza más comprada
* Tamaño más comprado

In [30]:
# Ventas
df_detail_order_pizza_types.info()
df_mini = df_detail_order_pizza_types[['mes','mes_nombre', 'order_price']]
ventas_mes = df_mini.groupby(['mes', 'mes_nombre'])['order_price'].sum()
print(ventas_mes.max())
venta_max_mes = ventas_mes.idxmax()
print(type(ventas_mes.idxmax()))
print(ventas_mes.idxmax()[1])

venta_max_mes[1]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 0 to 48619
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
 4   date              48620 non-null  object
 5   time              48620 non-null  object
 6   pizza_type_id     48620 non-null  object
 7   size              48620 non-null  object
 8   price             48620 non-null  float64
 9   name              48620 non-null  object
 10  category          48620 non-null  object
 11  ingredients       48620 non-null  object
 12  order_price       48620 non-null  float64
 13  fecha             48620 non-null  datetime64[ns]
 14  dia_semana        48620 non-null  object
 15  año               48620 non-null  int64
 16  mes               48620 non-null  int64
 17  mes_nombre        48620 non-null  object
 18  dia               48620 non-null  int64
 19  precio_total      48620 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(6), object(10)
memory usage: 7.8+ MB
72557.9
<class 'tuple'>
Julio

'Julio'

In [15]:
df_detail_order_pizza_types.head()

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,size,price,name,category,ingredients,order_price,fecha,dia_semana,año,mes,mes_nombre,dia,precio_total
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",13.25,2015-01-01,Jueves,2015,1,Enero,1,13.25
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",16.00,2015-01-01,Jueves,2015,1,Enero,1,16.00
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",18.50,2015-01-01,Jueves,2015,1,Enero,1,18.50
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",20.75,2015-01-01,Jueves,2015,1,Enero,1,20.75
4,5,2,mexicana_m,1,2015-01-01,11:57:40,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",16.00,2015-01-01,Jueves,2015,1,Enero,1,16.00